<div class="animate__animated animate__fadeIn">
  <h2>Por Capital</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-pais-input
        placeholder="Buscar el país por su capital..."
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
      ></app-pais-input>
    </div>
  </div>
</div>

<ul class="list-group" *ngIf="mostrarSugerencias">
  <li
    *ngFor="let pais of paisesSugeridos"
    class="list-group-item list-group-item-action animate__animated animate__fadeIn animate__faster"
  >
    <a class="nav-link" [routerLink]="['/pais', pais.alpha2Code]"
      >{{ pais.capital }} - {{ pais.name }}</a
    >
  </li>
  <li
    class="list-group-item list-group-item-action bg-success text-light animate__animated animate__fadeIn animate__faster"
    (click)="buscarSugeridos(termino)"
  >
    Buscar: "{{ termino }}"
  </li>
</ul>

<hr />

<div
  class="alert alert-danger animate__animated animate__shakeX animate__faster"
  *ngIf="hayError"
>
  No se encontró nada con el término de búsqueda {{ termino }}
</div>

<div
  class="row animate__animated animate__fadeIn animate__delay-.5s"
  *ngIf="paises.length > 0"
>
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
