<div class="alert alert-info" *ngIf="!pais; else divPais">
  Espere por favor...
</div>

<ng-template #divPais>
  <!-- <div class="row">
    <div class="col">
      <h2>País: {{ pais.name }}</h2>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col d-flex justify-content-center">
      <img
        width="300"
        class="img-fluid img-thumbnail shadow"
        [src]="pais.flag"
        [alt]="pais.name"
      />
    </div>
    <div class="col">
      <h3>{{ pais.name }}</h3>
      <h5>Capital: {{ pais.capital }}</h5>
      <p>Población: {{ pais.population }}</p>
      <p>Idioma: {{ pais.languages[0].name }}</p>
    </div>
  </div> -->
  <h2>País: {{ pais.name }}</h2>
  <div class="row animate__animated animate__fadeInDown">
    <div class="col-4">
      <h3>Bandera</h3>
      <img
        class="img-fluid img-thumbnail shadow"
        [src]="pais.flag"
        [alt]="pais.name"
      />
    </div>
    <div class="col">
      <h3>Información</h3>
      <ul class="list-group shadow">
        <li class="list-group-item">Capital: {{ pais.capital }}</li>
        <li class="list-group-item">
          Población: {{ pais.population | number }}
        </li>
        <li class="list-group-item">Idioma: {{ pais.languages[0].name }}</li>
        <li class="list-group-item">Región: {{ pais.region }}</li>
      </ul>
    </div>
  </div>
  <h3 class="mt-3">Traducciones</h3>
  <div class="row animate__animated animate__fadeInDown animate__delay-1s">
    <div class="col">
      <span class="badge bg-primary m-1">{{ pais.translations.es }}</span>
      <span class="badge bg-primary m-1">{{ pais.translations.de }}</span>
      <span class="badge bg-primary m-1">{{ pais.translations.pt }}</span>
      <span class="badge bg-primary m-1">{{ pais.translations.fr }}</span>
      <span class="badge bg-primary m-1">{{ pais.translations.it }}</span>
      <span class="badge bg-primary m-1">{{ pais.translations.ja }}</span>
    </div>
  </div>

  <!-- <pre class="mt-5">
    {{ pais | json }}
  </pre> -->
</ng-template>
